<!-- src/main/resources/templates/fragments/nav.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Meeting Manager</a>
        <ul class="navbar-nav me-auto">

            <li class="row m-1">
            <li class="nav-item"><a class="nav-link" href="/meetings">Meetings</a></li>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>